.listings{
    margin-top: 20px;
    list-style: none;
    max-width: 1200px;
}

.listing-header{
    display:flex;
}

.listing-title{
    flex:1;
}


.header-buttons{
    gap:10px;
    display:flex;
    flex-direction: row-reverse;
    flex:1;
}

.header-buttons button{
    height:100%;
}




.listing-body{
    margin-bottom: 20px;
    display:flex;
    flex-direction:row;
    min-height:200px;
    align-items: center;
}

.listing-image{
    flex:1;
}

.listing-image img{
    max-width:500px;
    min-width:200px;
    width: 100%;
    height: auto;
    max-height:300px;
    object-fit: contain;
}

.listing-row{
    display:flex;
}

.listing-info-label{
    width:130px;
}

.listing-info-value{
    flex:1;
}

.listing-ele a{
    color: black;
}


.listing-description p{
    color: black;
}