{% extends "auctions/layout.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_links %}
    <link href="{% static 'auctions/listings.css' %}"  rel="stylesheet">
{% endblock %}
{% block body %}
    <h2>Active Listings</h2>
    <ul class = "listings">
        {%for listing in listings%}
        <li>
            {% include "auctions/listing-layout.html" with listing=listing link=True%}
        </li>
        {%empty%}
        <li>No Active Listings</li>
        {%endfor%}
    </ul>
{% endblock %}