{% extends "auctions/layout.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_links %}
    <link href="{% static 'auctions/listings.css' %}"  rel="stylesheet">
{% endblock %}
{% block body %}
    {% if is_active %}
        <h2>Active Listings</h2>
    {% else %}
        <h2>Inactive Listings</h2>
    {% endif %}
    <ul class = "listings">
        {%for listing in listings%}
        <li>
            {% include "auctions/listing-layout.html" with listing=listing link=True%}
        </li>
        {%empty%}
        {% if is_active %}
            <li>No Active Listings</li>
        {% else %}
            <li>No Inactive Listings</li>
        {% endif %}
        {%endfor%}
    </ul>
{% endblock %}