{%extends "auctions/layout.html"%}
{%load static%}
{% load custom_filters %}
{% block extra_links %}
    <link href="{% static 'auctions/listings.css' %}"  rel="stylesheet">
    <link href="{% static 'auctions/comments.css' %}" rel="stylesheet">
    <script>
        //script for adding comments
        document.addEventListener('DOMContentLoaded', ()=>{
            function delete_comment(csrf_token, id) {
                console.log("called delete_comment func");
                const request = new Request("{%url 'delete_comment' %}", {
                    method: "DELETE",
                    headers: {'X-CSRFToken': csrf_token},
                    body: JSON.stringify({"comment_id": id})
                });
                fetch(request)
                .then((response) => {return response.json()})
                .then((data)=>{
                    document.querySelector(`#comment-${data["comment_id"]}`).parentElement.remove();
                    console.log(`successfully removed comment ${data["comment_id"]}`);
                })
                .catch(error => {
                    console.log(`Error in fetch when adding comment: ${error}`);
                })  
            }

            const comment_input = document.querySelector('#comment-input');
            const form = document.querySelector('#comment-form');
            const csrf_token = document.querySelector('#comment-form input[name="csrfmiddlewaretoken"]').value;
            const listing_str = '{{serialized_listing|escapejs}}';
            console.log(`listing_str is typeof ${typeof listing_str}`);
            console.log(`listing_str is ${listing_str}`);
            const listing = JSON.parse(listing_str);
            console.log(`listing.title is ${listing.title}`);
            console.log(`listing is typeof ${typeof listing}`);
            console.log(`listing is ${listing}`);
            console.log(listing);
            form.addEventListener('submit', (event)=>{
                event.preventDefault();
                const request = new Request("{%url 'add_comment' %}", {
                    method: "POST",
                    headers: {'X-CSRFToken': csrf_token},
                    body: JSON.stringify({"comment": comment_input.value, "listing":listing}),
                });
                console.log(`submitting {comment: ${comment_input.value}, csrfmiddlewaretoken: ${csrf_token}}, listing: ${listing}}`);
                fetch(request)
                    .then((response) =>{
                        return response.text()
                    })
                    .then(data =>  {
                        const comments_list = document.querySelector('#comments');
                        const new_comment = document.createElement('li');
                        new_comment.innerHTML = data;
                        const delete_icon = new_comment.querySelector(".delete-comment, .icon");
                        const id = delete_icon.parentElement.parentElement.id.slice(8);
                        const csrf_token = delete_icon.previousElementSibling.value;
                        comments_list.appendChild(new_comment);
                        delete_icon.addEventListener("click", () => delete_comment(csrf_token, id));
                        console.log(`successfully added comment ${id}`);
                    })
                    .catch(error => {
                        console.log(`Error in fetch when adding comment: ${error}`);
                    })   
            });

            comment_input.addEventListener('keydown', (event)=>{
                if(event.key === 'Enter'){
                    event.preventDefault();
                    form.requestSubmit();
                    form.reset();
                    comment_input.blur();
                }
            })

            document.querySelectorAll(".delete-comment").forEach((delete_icon)=>{
                const csrf_token = delete_icon.previousElementSibling.value;
                const id = delete_icon.parentElement.parentElement.id.slice(8)
                delete_icon.addEventListener("click", ()=>{delete_comment(csrf_token, id)})
            })
        })
    </script>
{% endblock %}

{% block body %}

{% include "auctions/listing-layout.html" with listing=listing link=False%}

<hr>
<ol id='comments'>
    {% for comment in comments %}
        <li>
            {% include "auctions/comment-layout.html" with comment=comment user=user %}
        </li>
    {% endfor %}
</ol>

<form id = 'comment-form'>
    {% csrf_token %}
    {% for field in CommentForm %}
        {{field}}
    {% endfor %}
</form>
{%endblock%}