{% load static %}
{% load custom_filters %}
<div class = "listing-ele">
    <div class = "listing-header">
        <div class="listing-title">
            {% if link %}
                <h3><a href="{%url 'listing' listing.creator listing.id %}">{{listing.title}}</a></h3>
            {% else %}
                <h3>{{listing.title}}</h3>
            {% endif %}
        </div>
        <div class="header-buttons">
            {% if listing.in_watchlist %}
                <input type="hidden" class="csrf-token" value="{{csrf_token}}">
                <button class="remove-watchlist" data-user="{{user}}" data-listing="{{listing.id}}">
                    <img src = "{% static 'auctions/red_minus.png' %}" class = 'icon'>
                    Remove from Watchlist
                </button>  
            {% else %}
                <input type="hidden" class="csrf-token" value="{{csrf_token}}">
                <button class="add-watchlist" data-user="{{user}}" data-listing="{{listing.id}}">
                    <img src = "{% static 'auctions/green_add.png' %}" class = 'icon'>
                    Add to Watchlist
                </button>
            {% endif %}
            {% if place_bid %}
                <a class = "button-style" href="{%url 'bid' listing.creator listing.id%}">
                    {% if listing.is_active %}
                        Place Bid
                    {% else %}
                        View Bids
                    {% endif %}
                </a>
            {% endif %}
            {% if listing.creator == user and listing.is_active == True%}
                <form method="post" action="{%url 'close' listing.creator listing.id%}">
                    {%csrf_token%}
                    <button type="submit" class = "button-style">
                        Close Listing
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="listing-description">
        <p>Description: {{listing.description}}</p>
    </div>
    <div class="listing-body">
        <div class = "listing-image">
            {% if link %}
                <a href="{%url 'listing' listing.creator listing.id%}">
                    <img src="{{listing.image}}" alt="image not found">
                </a>
            {% else %}
                <img src="{{listing.image}}" alt="image not found">
            {% endif %}
        </div>
        <div class = "listing-info">
            <div class = "listing-row">
                <div class="listing-info-label">
                    <h5>Author:</h5>
                </div>
                <div class="listing-info-value">
                    <h5>{{listing.creator}}</h5>
                </div>
            </div>
            <div class = "listing-row">
                <div class="listing-info-label">
                    <h5>Current Bid:</h5>
                </div>
                <div class="listing-info-value">
                    <h5>{{listing.price|money_format}}</h5>
                </div>
            </div>
            <div class="listing-row">
                <div class="listing-info-label">
                    <h5>Posted on:</h5>
                </div>
                <div class="listing-info-value">
                    <h5>{{listing.create_date}}</h5>
                </div>
            </div> 
            {% if listing.is_active == False %}
                <div class="listing-row">
                    <div class="listing-info-label">
                        <h5>Ended on:</h5>
                    </div>
                    <div class="listing-info-value">
                        <h5>{{listing.close_date}}</h5>
                    </div>
                </div> 
            {% endif %}
            <div class="listing-row">
                <div class="listing-info-label">
                    <h5>Is Active:</h5>
                </div>
                <div class="listing-info-value">
                    <h5>{{listing.is_active}}</h5>
                </div>
            </div> 
        </div>
    </div>
</div>